{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_header %}
    {{ super() }}
    {% endblock %}
    <title> Add Promo </title>
</head>
<body>
<div id="div1">
    {% block body_header %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block menu_content %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block flash %}
    {{ super() }}
    {% endblock %}

    {% block main_content %}


    <div class="container">
        <h1 class="text-primary display-3">Order history</h1>
        <!-- for loop starts here -->
        <h3> Ordered on 07/09/2020 </h3>
        <h5> Order ID : XXXX </h5>

        <table class="table">
            <tr class="row">
                <th class="col-4"> Book Name</th>
                <th class="col-4"> Quantity</th>
                <th class="col-4"> Price</th>
            </tr>
            <!-- nested for for items-->
            <tr class="row">
                <td class="col-4"> Book Name from DB</td>
                <td class="col-4"> Quantity from DB</td>
                <td class="col-4"> Price from DB</td>
            </tr>
            <tr class="row">
                <td class="col-4"> Book Name from DB</td>
                <td class="col-4"> Quantity from DB</td>
                <td class="col-4"> Price from DB</td>
            </tr>
            <tr class="row">
                <td class="col-4"></td>
                <td class="col-4"> Promotional Reduction</td>
                <td class="col-4"> 20%</td>
            </tr>
            <tr class="row">
                <td class="col-4"></td>
                <td class="col-4"> Order Total</td>
                <td class="col-4"> Price from DB</td>
            </tr>
            <tr class="row">
                <td class="col-3"></td>
                <td class="col-6"><a class="btn btn-primary btn-block" href="{{ url_for('cancel_order') }}" role="button">Cancel
                    this order</a></td>
                <td class="col-3"></td>
            </tr>
        </table>

        <h3> Ordered on 07/09/2020 </h3>
        <h5> Order ID : XXXX </h5>

        <table class="table">
            <tr class="row">
                <th class="col-4"> Book Name</th>
                <th class="col-4"> Quantity</th>
                <th class="col-4"> Price</th>
            </tr>
            <!-- nested for for items-->
            <tr class="row">
                <td class="col-4"> Book Name from DB</td>
                <td class="col-4"> Quantity from DB</td>
                <td class="col-4"> Price from DB</td>
            </tr>
            <tr class="row">
                <td class="col-4"> Book Name from DB</td>
                <td class="col-4"> Quantity from DB</td>
                <td class="col-4"> Price from DB</td>
            </tr>
            <tr class="row">
                <td class="col-4"></td>
                <td class="col-4"> Promotional Reduction</td>
                <td class="col-4"> 20%</td>
            </tr>
            <tr class="row">
                <td class="col-4"></td>
                <td class="col-4"> Order Total</td>
                <td class="col-4"> Price from DB</td>
            </tr>
            <tr class="row">
                <td class="col-3"></td>
                <td class="col-6"><a class="btn btn-primary btn-block" href="{{ url_for('cancel_order') }}" role="button">Cancel
                    this order</a></td>
                <td class="col-3"></td>
            </tr>
        </table>

    </div>
    {% endblock %}<!-- main_content -->
    {% block footer %}
    {{ super() }}
    {% endblock %}
</div><!-- div1 -->
{% block scripts %}
{{ super() }}
{% endblock %}

</body>
</html>
