{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head_header %}
		{{ super() }}
	{% endblock %}
	<title> Add Promo </title>
</head>
<body>
	<div id="div1">
		{% block body_header %}
			{{ super() }}
		{% endblock %}<!-- container -->

		{% block menu_content %}
			{{ super() }}
		{% endblock %}<!-- container -->

		{% block main_content %}
		<div id="main_content">
            <h1>Search</h1>
        <div>
            <div class="field_label">Title</div>
            <div class="field"><input type="text" /><span>Enter part of book title</span></div>
            <div class="field_label">Author</div>
            <div class="field"><input type="text" /><span>Enter part of author name</span></div>
            <div class="field_label">Category</div>
            <div class="field"><select><option>Classic</option><option>Technology</option></select></div>
            <div class="field_label">ISBN</div>
            <div class="field"><input type="text" /></div>
            <div class="field_label">Publisher</div>
            <div class="field"><input type="text" /><span>Enter part of publisher name</span></div>
            <div class="field_label">Year</div>
            <div class="field"><input type="text" size="6" /></div>
            <div class="field_label">Max. Price</div>
            <div class="field"><input type="text" size="6" /></div>
            <div class="field_label"></div>
            <div class="field"><input type="submit" /></div>
            </div>


        <div>
            <h2>Results: 4</h2>
            <a class="book smaller_books" href="#">
                <img src="images/books/05.jpg" />
                <span>Software Engineering</span>
                <span>SommerVille</span>
                <span>$15</span>
                <span>ISBN: 123456987</span>
            </a>
            <a class="book smaller_books" href="#">
                <img src="images/books/03.jpg" />
                <span>Software Engineering</span>
                <span>SommerVille</span>
                <span>$15</span>
                <span>ISBN: 123456987</span>
            </a>
            <a class="book smaller_books" href="#">
                <img src="images/books/02.jpg" />
                <span>Software Engineering</span>
                <span>SommerVille</span>
                <span>$15</span>
                <span>ISBN: 123456987</span>
            </a>
            <a class="book smaller_books" href="#">
                <img src="images/books/01.jpg" />
                <span>Software Engineering</span>
                <span>SommerVille</span>
                <span>$15</span>
                <span>ISBN: 123456987</span>
            </a>
        </div>
        </div>
		{% endblock %}<!-- main_content -->
		{% block footer %}
			{{ super() }}
		{% endblock %}
	</div><!-- div1 -->
		{% block scripts %}
			{{ super() }}
		{% endblock %}

</body>
</html>
