<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_header %}
        <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <script type="text/javascript">
        window.onload = initiate;
        function initiate() {
        //var search_query=document.getElementById('search_query');
        var menu_closed=true;
        var menu_content=document.getElementById('menu_content');
        var mobile_button=document.getElementById('mobile_button');
        mobile_button.onclick=function(){
        if(menu_closed) {
        menu_closed=false;
        menu_content.style.display='block';
        menu_content.style.height='70%';
        } else {
        menu_content.style.display='none';
        menu_content.style.height='0%';
        menu_closed=true;
        }
        };
        };
    </script>
    {% endblock %}
</head>
<body>
<div id="div1">
    {% block body_header %}
        <header class="container-fluid">

            <div>
                <a href="#" id="logo"><img src="../static/images/icons/books-icon.png" alt="team3" /> Team#3 BookStore</a>
            </div>
            <div>
                <form><input type="search" name="search_query" id="search_query" value="Search ..." onclick="this.value='';" /></form>
            </div>

        </header>
    {% endblock %}
    {% block menu_content %}
        <div id="menu">
            <ul id="menu_content">
                <li><a href="/">Home</a></li>
                <li>
                    <a href="#">Categories</a><ul>
                        <li><a href="#">Classic</a></li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Technology</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Browse</a>
                </li>
                <li>
                    <a href="#">Help</a><ul>
                        <li><a href="#">Support Request</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="search.html">Advanced Search</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>

            <div id="mobile_button">
                <img src="../static/images/menu.png" />
            </div>
            <div id="user_controls">
                <ul>
                    <li><a href="/cart"><img src="../static/images/cart.png" />MY CART</a></li>
                    {% if session['logged_in'] %}
                    <li><a href="/logout"><img src="../static/images/signin.png" />SING OUT</a></li>
                    {% else %}
                    <li><a href="/login"><img src="../static/images/signin.png" />SING IN</a></li>
                    {% endif %}
                    <li><a href="/register"><img src="../static/images/signup.png" />SIGN UP</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}
    {% block main_content %}
    {% endblock %}
    {% block footer %}
    <footer>
        team 3 book store
    </footer>
    {% endblock %}

</div>


{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

{% endblock %}

</body>
</html>