{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_header %}
    {{ super() }}
    {% endblock %}
    <title> Add Promo </title>
</head>
<body>
<div id="div1">
    {% block body_header %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block menu_content %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block flash %}
    {{ super() }}
    {% endblock %}

    {% block main_content %}
    <div class="container">
        <div class="row justify-content-center"><h1 class="display-3"> Order Summary</h1></div>
    </div>
    <div class="container">
        <table class="table">
            <tr>
                <th>Book</th>
                <th>Quantity</th>
                <th>Unit Price (USD)</th>
                <th>Item total (USD)</th>
            </tr>

	    {%for i in range(0,leng)%}
            <tr>
                <td class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{books[i]['title']}}</h5>
                            <p class="card-text">Author : {{books[i]['author']}}</p>
                            <p class="card-text">ISBN : {{books[i]['ISBN']}}</p>
                            <p class="card-text">Category : {{books[i]['category']}}</p>
                        </div>
                    </div>
                </td>
                <td class="display-4 col-3">{{books[i]['quant']}}</td>
                <td class="display-4 col-3">{{books[i]['price']}}</td>
                <td class="display-4 col-3">{{books[i]['price'] * books[i]['quant']}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3 display-4">Total Price</div>
            <div class="col-3 display-4">{{total}}</div>
        </div>
    </div>
    <!-- Should be another conditional
  HTML for after promocode application-->
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 display-4">
                Promo Code Applied
            </div>
            <div class="col-3 display-4"> PROMO</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 display-4">
                Final Total (USD)
            </div>
            <div class="col-3 display-4"> 10.45</div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center"><h1 class="display-3"> Shipping Address Information </h1></div>
    </div>
    <div class="container">
        <table class="table">
            <tr class="row justify-content-center">
                <td class="col-4"> Street Address</td>
                <td class="col-4"> {{ship['street']}}</td>
            </tr>
            <tr class="row justify-content-center">
                <td class="col-4"> Apartment No</td>
                <td class="col-4"> {{ship['street2']}}</td>
            </tr>
            <tr class="row justify-content-center">
                <td class="col-4"> City</td>
                <td class="col-4"> {{ship['city']}}</td>
            </tr>
            <tr class="row justify-content-center">
                <td class="col-4"> State</td>
                <td class="col-4"> {{ship['state']}}</td>
            </tr>
            <tr class="row justify-content-center">
                <td class="col-4"> Zip</td>
                <td class="col-4"> {{ship['zipCode']}}</td>
            </tr>
        </table>
    </div>

    <div class="container">
        <div class="row justify-content-center"><h1 class="display-3"> Billing Address Information </h1></div>
    </div>
    <div class="container">
        <table class="table">
            <tr class="row justify-content-center">
                <td class="col-4"> Street Address</td>
                <td class="col-4"> {{bill['street']}}</td>
            </tr>
            <tr class="row justify-content-center">
                <td class="col-4"> Apartment No</td>
                <td class="col-4"> {{bill['street2']}}</td>
            </tr>
            <tr class="row justify-content-center">
                <td class="col-4"> City</td>
                <td class="col-4"> {{bill['city']}}</td>
            </tr>
            <tr class="row justify-content-center">
                <td class="col-4"> State</td>
                <td class="col-4"> {{bill['state']}}</td>
            </tr>
            <tr class="row justify-content-center">
                <td class="col-4"> Zip</td>
                <td class="col-4"> {{bill['zipCode']}}</td>
            </tr>
        </table>
    </div>


    <div class="container">
        <div class="row justify-content-center"><h1 class="display-3"> Payment Information </h1></div>
    </div>
    <div class="container">
        <table class="table">
            <tr class="row justify-content-center">
                <td class="col-4"> Name on Card</td>
                <td class="col-4"> {{pay['nameoncard']}}</td>
            </tr>
            <tr class="row justify-content-center">
                <td class="col-4"> Card Info</td>
                <td class="col-4"> CardType ending {{pay['cardNumber']}}</td>
            </tr>
        </table>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3">
                <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('edit_profile') }}" role="button">Edit
                    Information</a>
            </div>
            <div class="col-3">
                <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('cart') }}" role="button">Go Back to
                    Cart</a>
            </div>
            <div class="col-3">
                <!--  create a hidden form with all the info !-->
                <form action="{{ url_for(('checkout_action')) }}" method="post">
                    <input type="hidden" name="name1" value="valuefromdb1"/>
                    <input type="hidden" name="name2" value="valuefromdb2"/>
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Confirm Checkout"/>
                </form>
            </div>
        </div>
    </div>


    {% endblock %}<!-- main_content -->
    {% block footer %}
    {{ super() }}
    {% endblock %}
</div><!-- div1 -->
{% block scripts %}
{{ super() }}
{% endblock %}

</body>
</html>
