{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head_header %}
		{{ super() }}
	{% endblock %}
	<title> Add Promo </title>
</head>
<body>
	<div id="div1">
		{% block body_header %}
			{{ super() }}
		{% endblock %}<!-- container -->

		{% block menu_content %}
			{{ super() }}
		{% endblock %}<!-- container -->

		{% block main_content %}
		<div id="main_content">
            <div class="viewProf">
                <div class="head">
                    <div class="item">
                        <img src="../static/images/icons/portrait_icon.png" id="profileImg" alt="profile image" width="225px" length="225px">
                        <a href="#">Edit Picture</a>
                    </div>
                </div>
                <form action="{{ url_for('editProfileData') }}" method="POST">
                    <div class="centerFormat">
                        <hr>
                        <h2>Personal Information</h2>
                        <hr>
                        <input type="text" name="firstname" placeholder="First Name">
			<input type="text" name="lastname" placeholder="Last Name">
                        <input type="text" name="phone" placeholder="Phone number">
                    </div>
                    <div class="centerFormat">
                        <hr>
                        <h2>Shipping Address</h2>
                        <hr>
                        <input type="text" name="addyname" placeholder="Name">
                        <input type="text" name="street1" placeholder="Address Line 1">
                        <input type="text" name="street2" placeholder="Address Line 2">
                        <input type="text" name="city" placeholder="City">
			<input type="text" name="state" placeholder="State">
			<input type="text" name="zip" placeholder="00000">
                        <input type="text" name="country" placeholder="Country">
                    </div>
                    <div class="centerFormat">
                        <hr>
                        <h2>Payment Information</h2>
                        <hr>
                        <input type="text" name="payname" placeholder="Name">
                        <input type="text" name="cardNum" placeholder="Card Number">
                        <input type="text" name="expDate" placeholder="Expiration date (YYYY-MM-DD)">
                    </div>
                    <input type="submit" value="Save Changes">
		</form>
        </div>
		{% endblock %}<!-- main_content -->
		{% block footer %}
			{{ super() }}
		{% endblock %}
	</div><!-- div1 -->
		{% block scripts %}
			{{ super() }}
		{% endblock %}

</body>
</html>
