{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head_header %}
		{{ super() }}
	{% endblock %}
	<title> Add Promo </title>
</head>
<body>
	<div id="div1">
		{% block body_header %}
			{{ super() }}
		{% endblock %}<!-- container -->

		{% block menu_content %}
			{{ super() }}
		{% endblock %}<!-- container -->

		{% block main_content %}
		<div id="main_content">

            <div class="container mb-4">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Book Preview </th>
                                        <th> Book Name </th>
                                        <th> Order ID </th>
                                        <th> Quantity </th>
                                        <th> Total Price </th>
                                        <th> Reorder </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="../static/images/books/01.jpg" width="80px" length="80px"> </td>
                                        <td> Software Enggineering <br>by SommerVille</td>
                                        <td>243</td>
                                        <td>2</td>
                                        <td>30.00 USD</td>

                                        <td>
                                            <button type="button" class="btn btn-success">+</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="../static/images/books/02.jpg" width="80px" length="80px"> </td>
                                        <td> Data Mining <br>by SommerVille</td>
                                        <td>55</td>
                                        <td>1</td>
                                        <td>15.00 USD</td>
                                        <td>
                                            <button type="button" class="btn btn-success">+</button>
                                        </td>
                                    </tr>
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-sm-12  col-md-6">
                                <button class="btn btn-block btn-light">Continue Shopping</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		{% endblock %}<!-- main_content -->
		{% block footer %}
			{{ super() }}
		{% endblock %}
	</div><!-- div1 -->
		{% block scripts %}
			{{ super() }}
		{% endblock %}

</body>
</html>
