{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_header %}
    {{ super() }}
    {% endblock %}
    <title> Add Promo </title>
</head>
<body>
<div id="div1">
    {% block body_header %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block menu_content %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block main_content %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Book</th>
                <th>Quantity</th>
                <th>Unit Price (USD)</th>
                <th>Item total (USD)</th>
            </tr>
            <!-- Your for loop starts here -->
            <tr>
                <td class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Book title1</h5>
                            <p class="card-text">Author : Author1</p>
                            <p class="card-text">ISBN : ISBN1</p>
                            <p class="card-text">Category : Category1</p>
                        </div>
                    </div>
                </td>
                <td class="display-4 col-3">1</td>
                <td class="display-4 col-3">4.00</td>
                <td class="display-4 col-3">8.00</td>
            </tr>
            <tr>
                <td class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">This is a larger book title</h5>
                            <p class="card-text">Author : With larger author name</p>
                            <p class="card-text">ISBN : ISBN-ISBN-ISBN</p>
                            <p class="card-text">Category : Category2</p>
                        </div>
                    </div>
                </td>
                <td class="display-4 col-3">2</td>
                <td class="display-4 col-3">4.00</td>
                <td class="display-4 col-3">8.00</td>
            </tr>
        </table>
    </div>
    <!-- For loop ends here -->
    <div class="container">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-3 display-4">Total Price</div>
            <div class="col-3 display-4">12.00</div>
        </div>
    </div>
    <!-- Should be another conditional
      HTML for after promocode application-->
    <div class="container">
        <form action="" method="post">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-3 display-5">Enter Promo Code</div>
                <div class="col-3"><input class="form-control" type="text" name="promocode" id="promocode"/> Enter Promo Code</div>
            </div>
        </form>
    </div>

    {% endblock %}<!-- main_content -->
    {% block footer %}
    {{ super() }}
    {% endblock %}
</div><!-- div1 -->
{% block scripts %}
{{ super() }}
{% endblock %}

</body>
</html>
