{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head_header %}
		{{ super() }}
	{% endblock %}
	<title> Add Promo </title>
</head>
<body>
	<div id="div1">
		{% block body_header %}
			{{ super() }}
		{% endblock %}<!-- container -->

		{% block menu_content %}
			{{ super() }}
		{% endblock %}<!-- container -->

		{% block main_content %}
		<div id="main_content">
			<!--- remove this potion of the code --->
            <h1>{{ infopass.title }}</h1>
            <div class="section section_third">
                <img src="{{ url_for('static', filename=infopass.cover) }}" id="book_img" style="transition-duration:0.5s;" />
            </div>
            <div class="section section_2thirds">
                <span id="book_title">{{ infopass.title }}</span>
                <span id="book_author">Author: {{ infopass.author }}</span>
                <span>Publisher: {{ infopass.publisher }}</span>
                <span> {{ infopass.pubYear }} </span>
                <span>Category: {{ cat.category }}</span>
                <span id="book_price">{{ infopass.sellingPrice }}</span>
                <span id="book_price">{{ infopass.book_price }}</span>
				<form action="{{url_for('add2cart')}}" method="post">
					<!-- Complete the hidden form -->
					<input type="hidden" name="id" value="val"/>
					<input type="hidden" name="book_author" value="val"/>
                	<input type="hidden" name="publisher" value="valuefromdb"/>
					<input type="submit" value="Add to cart">
				</form>
            </div>

        </div>
		{% endblock %}<!-- main_content -->
		{% block footer %}
			{{ super() }}
		{% endblock %}
	</div><!-- div1 -->
		{% block scripts %}
			{{ super() }}
		{% endblock %}

</body>
</html>
