{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head_header %}
		{{ super() }}
		{% endblock %}
		<title> Add Promo </title>
	</head>
	<body>
		<div id="div1">
			{% block body_header %}
			{{ super() }}
			{% endblock %}<!-- container -->

			{% block menu_content %}
			{{ super() }}
			{% endblock %}<!-- container -->

            {% block flash %}
			{{ super() }}
			{% endblock %}

			{% block main_content %}
			<div id="main_content">
				<div class="viewProf">
					<!-- div class="head">
						<div class="item">
						<img src="../static/images/icons/portrait_icon.png" id="profileImg" alt="profile image" width="150px" length="150px">
						<a href="#">Add Picture</a>
						</div>
					</div -->


					<form action=" {{ url_for('editProfileData') }} ", method="post">
					<!-- Personal Data Begins  -->
						<table class="table">
						<tr>
							<th> Personal Info </th>
							<th></th>
						</tr>
						<tr>
							<td> <label for="fname"> FirstName </label> </td>
							<td> <input type="text" name="fname" id="fname" class="form-control" value="{{ pdata[0]['firstName'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="lname"> Last Name </label> </td>
							<td> <input type="text" name="lname" id="lname" class="form-control"  value="{{ pdata[0]['lastName'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="email"> Email Address </label> </td>
							<td> <input type="email" name="email" id="email" class="form-control"  value="{{ pdata[0]['email'] }}" disabled> </td>
						</tr>
						<tr>
							<td> <label for="phonenumbercountry"> Country Code </label> </td>
							<td>
								<select class="form-control" name="phonenumbercountry" >
									<option value="" {% if pdata[0]['phone'] is none %} selected {% endif %}>Choose..</option>
									<option value="+1" {% if pdata[0]['phone'][0:2] == '+1' %} selected {% endif %} >+1 (US and Canada)</option>
									<option value="+9" {% if pdata[0]['phone'][0:2] == '+7' %} selected {% endif %} >+7 (Russia) </option>
								</select>
							</td>
						</tr>
						<tr>
							<td> <label for="mainphonenumber"> Phone Number </label> </td>
							<td> <input class="form-control" type="text" name="mainphonenumber" id="mainphonenumber" value="{{ pdata[0]['phone'][2:16] }}"> </td>
						</tr>
						<tr>
							<td>Password</td>
							<td><a class="form-control bg-primary text-white" href="{{ url_for('change_password_start') }}"> Click Here to Change Password </a></td>
						</tr>
					</table>
					<!-- Personal Data Ends  -->


					<!-- Shipping Address Data Begins  -->
						{% if sadata != () %}
						<table class="table">
						<tr>
							<th> Shipping Address Info </th>
							<th></th>
						</tr>
						<tr>
							<td> <label for="shipname"> Shipping Name </label> </td>
							<td> <input class="form-control" type="text" name="shipname" id="shipname" value="{{ sadata[0]['name'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="streetaddress"> Street Address </label> </td>
							<td> <input class="form-control" type="text" name="streetaddress" id="streetaddress" value="{{ sadata[0]['street'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="aptno"> Apartment No </label> </td>
							<td> <input class="form-control" type="text" name="aptno" id="aptno" value="{{ sadata[0]['street2'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="inputCity"> City </label> </td>
							<td> <input class="form-control" type="text" name="inputCity" id="inputCity" value="{{ sadata[0]['city'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="inputZip"> Zip Code </label> </td>
							<td> <input class="form-control" type="text" name="inputZip" id="inputZip" value="{{ sadata[0]['zipCode'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="inputState"> State </label> </td>
							<td>
								<select class="form-control" name="inputState" >
									<option value="" {% if sadata[0]['state'] == '' %} selected {% endif %} >Choose...</option>
									<option value="AL" {% if sadata[0]['state'] == 'AL' %} selected {% endif %}  >Alabama</option>
                                <option value="AK" {% if sadata[0]['state'] == 'AK' %} selected {% endif %}  >Alaska</option>
                                <option value="AZ" {% if sadata[0]['state'] == 'AZ' %} selected {% endif %}  >Arizona</option>
                                <option value="AR" {% if sadata[0]['state'] == 'AR' %} selected {% endif %}  >Arkansas</option>
                                <option value="CA" {% if sadata[0]['state'] == 'CA' %} selected {% endif %}  >California</option>
                                <option value="CO" {% if sadata[0]['state'] == 'CO' %} selected {% endif %}  >Colorado</option>
                                <option value="CT" {% if sadata[0]['state'] == 'CT' %} selected {% endif %}  >Connecticut</option>
                                <option value="DE" {% if sadata[0]['state'] == 'DE' %} selected {% endif %}  >Delaware</option>
                                <option value="DC" {% if sadata[0]['state'] == 'DC' %} selected {% endif %}  >District Of Columbia</option>
                                <option value="FL" {% if sadata[0]['state'] == 'FL' %} selected {% endif %}  >Florida</option>
                                <option value="GA" {% if sadata[0]['state'] == 'GA' %} selected {% endif %}  >Georgia</option>
                                <option value="HI" {% if sadata[0]['state'] == 'HI' %} selected {% endif %}  >Hawaii</option>
                                <option value="ID" {% if sadata[0]['state'] == 'ID' %} selected {% endif %} >Idaho</option>
                                <option value="IL" {% if sadata[0]['state'] == 'IL' %} selected {% endif %} >Illinois</option>
                                <option value="IN" {% if sadata[0]['state'] == 'IN' %} selected {% endif %} >Indiana</option>
                                <option value="IA" {% if sadata[0]['state'] == 'IA' %} selected {% endif %} >Iowa</option>
                                <option value="KS" {% if sadata[0]['state'] == 'KS' %} selected {% endif %} >Kansas</option>
                                <option value="KY" {% if sadata[0]['state'] == 'KY' %} selected {% endif %} >Kentucky</option>
                                <option value="LA" {% if sadata[0]['state'] == 'LA' %} selected {% endif %} >Louisiana</option>
                                <option value="ME" {% if sadata[0]['state'] == 'ME' %} selected {% endif %} >Maine</option>
                                <option value="MD" {% if sadata[0]['state'] == 'MD' %} selected {% endif %} >Maryland</option>
                                <option value="MA" {% if sadata[0]['state'] == 'MA' %} selected {% endif %} >Massachusetts</option>
                                <option value="MI" {% if sadata[0]['state'] == 'MI' %} selected {% endif %} >Michigan</option>
                                <option value="MN" {% if sadata[0]['state'] == 'MN' %} selected {% endif %} >Minnesota</option>
                                <option value="MS" {% if sadata[0]['state'] == 'MS' %} selected {% endif %} >Mississippi</option>
                                <option value="MO" {% if sadata[0]['state'] == 'MO' %} selected {% endif %} >Missouri</option>
                                <option value="MT" {% if sadata[0]['state'] == 'MT' %} selected {% endif %} >Montana</option>
                                <option value="NE" {% if sadata[0]['state'] == 'NE' %} selected {% endif %} >Nebraska</option>
                                <option value="NV" {% if sadata[0]['state'] == 'NV' %} selected {% endif %} >Nevada</option>
                                <option value="NH" {% if sadata[0]['state'] == 'NH' %} selected {% endif %} >New Hampshire</option>
                                <option value="NJ" {% if sadata[0]['state'] == 'NJ' %} selected {% endif %} >New Jersey</option>
                                <option value="NM" {% if sadata[0]['state'] == 'NM' %} selected {% endif %} >New Mexico</option>
                                <option value="NY" {% if sadata[0]['state'] == 'NY' %} selected {% endif %} >New York</option>
                                <option value="NC" {% if sadata[0]['state'] == 'NC' %} selected {% endif %} >North Carolina</option>
                                <option value="ND" {% if sadata[0]['state'] == 'ND' %} selected {% endif %} >North Dakota</option>
                                <option value="OH" {% if sadata[0]['state'] == 'OH' %} selected {% endif %} >Ohio</option>
                                <option value="OK" {% if sadata[0]['state'] == 'OK' %} selected {% endif %} >Oklahoma</option>
                                <option value="OR" {% if sadata[0]['state'] == 'OR' %} selected {% endif %} >Oregon</option>
                                <option value="PA" {% if sadata[0]['state'] == 'PA' %} selected {% endif %} >Pennsylvania</option>
                                <option value="RI" {% if sadata[0]['state'] == 'RI' %} selected {% endif %} >Rhode Island</option>
                                <option value="SC" {% if sadata[0]['state'] == 'SC' %} selected {% endif %} >South Carolina</option>
                                <option value="SD" {% if sadata[0]['state'] == 'SD' %} selected {% endif %} >South Dakota</option>
                                <option value="TN" {% if sadata[0]['state'] == 'TN' %} selected {% endif %} >Tennessee</option>
                                <option value="TX" {% if sadata[0]['state'] == 'TX' %} selected {% endif %} >Texas</option>
                                <option value="UT" {% if sadata[0]['state'] == 'UT' %} selected {% endif %} >Utah</option>
                                <option value="VT" {% if sadata[0]['state'] == 'VT' %} selected {% endif %} >Vermont</option>
                                <option value="VA" {% if sadata[0]['state'] == 'VA' %} selected {% endif %} >Virginia</option>
                                <option value="WA" {% if sadata[0]['state'] == 'WA' %} selected {% endif %} >Washington</option>
                                <option value="WV" {% if sadata[0]['state'] == 'WV' %} selected {% endif %} >West Virginia</option>
                                <option value="WI" {% if sadata[0]['state'] == 'WI' %} selected {% endif %} >Wisconsin</option>
                                <option value="WY" {% if sadata[0]['state'] == 'WY' %} selected {% endif %} >Wyoming</option>
								</select>
							</td>
						</tr>
					</table>
						{% else %}
						<table class="table">
						<tr>
							<th> Shipping Address Info </th>
							<th></th>
						</tr>
						<tr>
							<td> <label for="shipname"> Shipping Name </label> </td>
							<td> <input class="form-control" type="text" name="shipname" id="shipname"> </td>
						</tr>
						<tr>
							<td> <label for="streetaddress"> Street Address </label> </td>
							<td> <input class="form-control" type="text" name="streetaddress" id="streetaddress"> </td>
						</tr>
						<tr>
							<td> <label for="aptno"> Apt No </label> </td>
							<td> <input class="form-control" type="text" name="aptno" id="aptno"> </td>
						</tr>
						<tr>
							<td> <label for="inputCity"> City </label> </td>
							<td> <input class="form-control" type="text" name="inputCity" id="inputCity"> </td>
						</tr>
						<tr>
							<td> <label for="inputZip"> Zip Code </label> </td>
							<td> <input class="form-control" type="text" name="inputZip" id="inputZip"> </td>
						</tr>
						<tr>
							<td> <label for="inputState"> State </label> </td>
							<td>
								<select class="form-control" name="inputState" id="inputState">
									<option value="">Choose...</option>
									<option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
								</select>
							</td>
						</tr>
					</table>
						{% endif %}
						<!-- Shipping Address Data Ends  -->

						<!-- Billing Address Data Begins  -->
						{% if badata != () %}
						<table class="table">
						<tr>
							<th> Billing Address Info </th>
							<th></th>
						</tr>
						<tr>
							<td> <label for="billname"> Billing Name </label> </td>
							<td> <input class="form-control" type="text" name="billname" id="billname" value="{{ badata[0]['name'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="billstreetaddress"> Street Address </label> </td>
							<td> <input class="form-control" type="text" name="billstreetaddress" id="billstreetaddress" value="{{ badata[0]['street'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="billaptno"> Apartment No </label> </td>
							<td> <input class="form-control"  type="text" name="billaptno" id="billaptno" value="{{ badata[0]['street2'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="billinputCity"> City  </label> </td>
							<td> <input class="form-control" type="text" name="billinputCity" id="billinputCity" value="{{ badata[0]['city'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="billinputZip"> Zip Code </label> </td>
							<td> <input class="form-control" type="text" name="billinputZip" id="billinputZip" value="{{ badata[0]['zipCode'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="billinputState"> State </label> </td>
							<td>
								<select class="form-control" name="billinputState" id="billinputState">
									<option value="" {% if badata[0]['state'] == '' %} selected {% endif %} >Choose...</option>
									<option value="AL" {% if badata[0]['state'] == 'AL' %} selected {% endif %}  >Alabama</option>
                                <option value="AK" {% if badata[0]['state'] == 'AK' %} selected {% endif %}  >Alaska</option>
                                <option value="AZ" {% if badata[0]['state'] == 'AZ' %} selected {% endif %}  >Arizona</option>
                                <option value="AR" {% if badata[0]['state'] == 'AR' %} selected {% endif %}  >Arkansas</option>
                                <option value="CA" {% if badata[0]['state'] == 'CA' %} selected {% endif %}  >California</option>
                                <option value="CO" {% if badata[0]['state'] == 'CO' %} selected {% endif %}  >Colorado</option>
                                <option value="CT" {% if badata[0]['state'] == 'CT' %} selected {% endif %}  >Connecticut</option>
                                <option value="DE" {% if badata[0]['state'] == 'DE' %} selected {% endif %}  >Delaware</option>
                                <option value="DC" {% if badata[0]['state'] == 'DC' %} selected {% endif %}  >District Of Columbia</option>
                                <option value="FL" {% if badata[0]['state'] == 'FL' %} selected {% endif %}  >Florida</option>
                                <option value="GA" {% if badata[0]['state'] == 'GA' %} selected {% endif %}  >Georgia</option>
                                <option value="HI" {% if badata[0]['state'] == 'HI' %} selected {% endif %}  >Hawaii</option>
                                <option value="ID" {% if badata[0]['state'] == 'ID' %} selected {% endif %} >Idaho</option>
                                <option value="IL" {% if badata[0]['state'] == 'IL' %} selected {% endif %} >Illinois</option>
                                <option value="IN" {% if badata[0]['state'] == 'IN' %} selected {% endif %} >Indiana</option>
                                <option value="IA" {% if badata[0]['state'] == 'IA' %} selected {% endif %} >Iowa</option>
                                <option value="KS" {% if badata[0]['state'] == 'KS' %} selected {% endif %} >Kansas</option>
                                <option value="KY" {% if badata[0]['state'] == 'KY' %} selected {% endif %} >Kentucky</option>
                                <option value="LA" {% if badata[0]['state'] == 'LA' %} selected {% endif %} >Louisiana</option>
                                <option value="ME" {% if badata[0]['state'] == 'ME' %} selected {% endif %} >Maine</option>
                                <option value="MD" {% if badata[0]['state'] == 'MD' %} selected {% endif %} >Maryland</option>
                                <option value="MA" {% if badata[0]['state'] == 'MA' %} selected {% endif %} >Massachusetts</option>
                                <option value="MI" {% if badata[0]['state'] == 'MI' %} selected {% endif %} >Michigan</option>
                                <option value="MN" {% if badata[0]['state'] == 'MN' %} selected {% endif %} >Minnesota</option>
                                <option value="MS" {% if badata[0]['state'] == 'MS' %} selected {% endif %} >Mississippi</option>
                                <option value="MO" {% if badata[0]['state'] == 'MO' %} selected {% endif %} >Missouri</option>
                                <option value="MT" {% if badata[0]['state'] == 'MT' %} selected {% endif %} >Montana</option>
                                <option value="NE" {% if badata[0]['state'] == 'NE' %} selected {% endif %} >Nebraska</option>
                                <option value="NV" {% if badata[0]['state'] == 'NV' %} selected {% endif %} >Nevada</option>
                                <option value="NH" {% if badata[0]['state'] == 'NH' %} selected {% endif %} >New Hampshire</option>
                                <option value="NJ" {% if badata[0]['state'] == 'NJ' %} selected {% endif %} >New Jersey</option>
                                <option value="NM" {% if badata[0]['state'] == 'NM' %} selected {% endif %} >New Mexico</option>
                                <option value="NY" {% if badata[0]['state'] == 'NY' %} selected {% endif %} >New York</option>
                                <option value="NC" {% if badata[0]['state'] == 'NC' %} selected {% endif %} >North Carolina</option>
                                <option value="ND" {% if badata[0]['state'] == 'ND' %} selected {% endif %} >North Dakota</option>
                                <option value="OH" {% if badata[0]['state'] == 'OH' %} selected {% endif %} >Ohio</option>
                                <option value="OK" {% if badata[0]['state'] == 'OK' %} selected {% endif %} >Oklahoma</option>
                                <option value="OR" {% if badata[0]['state'] == 'OR' %} selected {% endif %} >Oregon</option>
                                <option value="PA" {% if badata[0]['state'] == 'PA' %} selected {% endif %} >Pennsylvania</option>
                                <option value="RI" {% if badata[0]['state'] == 'RI' %} selected {% endif %} >Rhode Island</option>
                                <option value="SC" {% if badata[0]['state'] == 'SC' %} selected {% endif %} >South Carolina</option>
                                <option value="SD" {% if badata[0]['state'] == 'SD' %} selected {% endif %} >South Dakota</option>
                                <option value="TN" {% if badata[0]['state'] == 'TN' %} selected {% endif %} >Tennessee</option>
                                <option value="TX" {% if badata[0]['state'] == 'TX' %} selected {% endif %} >Texas</option>
                                <option value="UT" {% if badata[0]['state'] == 'UT' %} selected {% endif %} >Utah</option>
                                <option value="VT" {% if badata[0]['state'] == 'VT' %} selected {% endif %} >Vermont</option>
                                <option value="VA" {% if badata[0]['state'] == 'VA' %} selected {% endif %} >Virginia</option>
                                <option value="WA" {% if badata[0]['state'] == 'WA' %} selected {% endif %} >Washington</option>
                                <option value="WV" {% if badata[0]['state'] == 'WV' %} selected {% endif %} >West Virginia</option>
                                <option value="WI" {% if badata[0]['state'] == 'WI' %} selected {% endif %} >Wisconsin</option>
                                <option value="WY" {% if badata[0]['state'] == 'WY' %} selected {% endif %} >Wyoming</option>
								</select>
							</td>
						</tr>
					</table>
						{% else %}
						<table class="table">
						<tr>
							<th> Billing Address Info </th>
							<th></th>
						</tr>
						<tr>
							<td> <label for="billname"> Billing Name </label> </td>
							<td> <input class="form-control" type="text" name="billname" id="billname"> </td>
						</tr>
						<tr>
							<td> <label for="billstreetaddress"> Street Address </label> </td>
							<td> <input class="form-control" type="text" name="billstreetaddress" id="billstreetaddress"> </td>
						</tr>
						<tr>
							<td> <label for="billaptno"> Apartment No </label> </td>
							<td> <input class="form-control" type="text" name="billaptno" id="billaptno"> </td>
						</tr>
						<tr>
							<td> <label for="billinputCity"> City </label> </td>
							<td> <input class="form-control" type="text" name="billinputCity" id="billinputCity"> </td>
						</tr>
						<tr>
							<td> <label for="billinputZip"> Zip Code </label> </td>
							<td> <input class="form-control" type="text" name="billinputZip" id="billinputZip"> </td>
						</tr>
						<tr>
							<td> <label for="billinputState"> State </label> </td>
							<td>
								<select class="form-control" name="billinputState" id="billinputState">
									<option value="">Choose...</option>
									<option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
								</select>
							</td>
						</tr>
					</table>
						{% endif %}
					<!-- Billing Address Data Ends  -->


					<!-- Payment Info Data Begins  -->
						{% if paydata != () %}
						<table class="table">
						<tr>
							<th> Payment Info </th>
							<th></th>
						</tr>
						<tr>
							<td> <label for="nameoncard"> Name on Card </label> </td>
							<td> <input class="form-control" type="text" name="nameoncard" id="nameoncard" value="{{ paydata[0]['nameoncard'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="cardno"> Card Number </label> </td>
							<td> <input class="form-control" type="text" name="cardno" id="cardno" value="{{ paydata[0]['cardNumber'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="CVV"> CVV </label> </td>
							<td> <input class="form-control" type="text" name="CVV" id="CVV" value="{{ paydata[0]['securityCode'] }}"> </td>
						</tr>
						<tr>
							<td> <label for="cardtype"> Card Type </label> </td>
							<td>
								<select class="form-control" name="cardtype" id="cardtype">
									<option value="" {% if paydata[0]['paymentType'] == '' %} selected {% endif %} >Choose...</option>
									<option value="VISA" {% if paydata[0]['paymentType'] == 'VISA' %} selected {% endif %} >VISA</option>
									<option value="MasterCard" {% if paydata[0]['paymentType'] == 'MasterCard' %} selected {% endif %} >MasterCard</option>
									<option value="AmEx" {% if paydata[0]['paymentType'] == 'Amex' %} selected {% endif %} >AmericanExpress</option>
									<option value="Discover" {% if paydata[0]['paymentType'] == 'Discover' %} selected {% endif %} >Discover</option>
									<option value="JCB" {% if paydata[0]['paymentType'] == 'JCB' %} selected {% endif %} >JCB</option>
								</select>
							</td>
						</tr>
							<tr>
							<td> <label for="expmonth"> Expiry Month </label> </td>
							<td>
								<select class="form-control" name="expmonth" id="expmonth">
									<option value="" {% if paydata[0]['expiryMonth'] is none %} selected {% endif %} >Choose...</option>
									<option value="1" {% if paydata[0]['expiryMonth'] == 1 %} selected {% endif %} >Jan</option>
								<option value="2" {% if paydata[0]['expiryMonth'] == 2 %} selected {% endif %} >Feb</option>
								<option value="3" {% if paydata[0]['expiryMonth'] == 3 %} selected {% endif %} >Mar</option>
								<option value="4" {% if paydata[0]['expiryMonth'] == 4 %} selected {% endif %} >Apr</option>
								<option value="5" {% if paydata[0]['expiryMonth'] == 5 %} selected {% endif %} >May</option>
								<option value="6" {% if paydata[0]['expiryMonth'] == 6 %} selected {% endif %} >Jun</option>
								<option value="7" {% if paydata[0]['expiryMonth'] == 7 %} selected {% endif %} >Jul</option>
								<option value="8" {% if paydata[0]['expiryMonth'] == 8 %} selected {% endif %} >Aug</option>
								<option value="9" {% if paydata[0]['expiryMonth'] == 9 %} selected {% endif %} >Sep</option>
								<option value="10" {% if paydata[0]['expiryMonth'] == 10 %} selected {% endif %} >Oct</option>
								<option value="11" {% if paydata[0]['expiryMonth'] == 11 %} selected {% endif %} >Nov</option>
								<option value="12" {% if paydata[0]['expiryMonth'] == 12 %} selected {% endif %} >Dec</option>
								</select>
							</td>
						</tr>

							<tr>
							<td> <label for="expyear"> Expiry Year </label> </td>
							<td>
								<select class="form-control" name="expyear" id="expyear">
									<option value="" {% if paydata[0]['expiryYear'] is none %} selected {% endif %} >Choose</option>
								<option value="2019" {% if paydata[0]['expiryYear'] == 2019 %} selected {% endif %} >2019</option>
								<option value="2020" {% if paydata[0]['expiryYear'] == 2020 %} selected {% endif %} >2020</option>
								<option value="2021" {% if paydata[0]['expiryYear'] == 2021 %} selected {% endif %} >2021</option>
								<option value="2022" {% if paydata[0]['expiryYear'] == 2022 %} selected {% endif %} >2022</option>
								<option value="2023" {% if paydata[0]['expiryYear'] == 2023 %} selected {% endif %} >2023</option>
								<option value="2024" {% if paydata[0]['expiryYear'] == 2024 %} selected {% endif %} >2024</option>
								</select>
							</td>
						</tr>
					</table>
						{% else %}
						<table class="table">
						<tr>
							<th> Payment Info </th>
							<th></th>
						</tr>
						<tr>
							<td> <label for="nameoncard"> Name on Card </label> </td>
							<td> <input class="form-control" type="text" name="nameoncard" id="nameoncard"> </td>
						</tr>
						<tr>
							<td> <label for="cardno"> Card Number </label> </td>
							<td> <input class="form-control" type="text" name="cardno" id="cardno"> </td>
						</tr>
						<tr>
							<td> <label for="CVV"> CVV </label> </td>
							<td> <input class="form-control" type="number" name="CVV" id="CVV"> </td>
						</tr>
						<tr>
							<td> <label for="cardtype"> Card Tyoe </label> </td>
							<td>
								<select class="form-control" name="cardtype" id="cardtype">
									<option value="">Choose...</option>
									<option value="VISA" >VISA</option>
									<option value="MasterCard" >MasterCard</option>
									<option value="AmEx" >AmericanExpress</option>
									<option value="Discover" >Discover</option>
									<option value="JCB">JCB</option>
								</select>
							</td>
						</tr>
							<tr>
							<td> <label for="expmonth"> Expiry Month </label> </td>
							<td>
								<select class="form-control" name="expmonth" id="expmonth">
									<option value="" >Choose...</option>
									<option value="1" >Jan</option>
								<option value="2" >Feb</option>
								<option value="3" >Mar</option>
								<option value="4" >Apr</option>
								<option value="5" >May</option>
								<option value="6" >Jun</option>
								<option value="7" >Jul</option>
								<option value="8" >Aug</option>
								<option value="9" >Sep</option>
								<option value="10" >Oct</option>
								<option value="11" >Nov</option>
								<option value="12" >Dec</option>
								</select>
							</td>
						</tr>

							<tr>
							<td> <label for="expyear"> Expiry Year </label> </td>
							<td>
								<select class="form-control" name="expyear" id="expyear">
									<option value="" >Choose...</option>
								<option value="2019" >2019</option>
								<option value="2020" >2020</option>
								<option value="2021" >2021</option>
								<option value="2022" >2022</option>
								<option value="2023" >2023</option>
								<option value="2024" >2024</option>
								</select>
							</td>
						</tr>
					</table>
						{% endif %}
					<!-- Payment Info Data Ends  -->
						<table class="table">
							<tr>
								<th><a class="btn btn-primary" href="{{ url_for('view_profile') }}"> Return to Profile </a> </th>
								<th><input class="form-control form-row bg-success text-white" type="submit" value="Submit Edit"></input></th>
							</tr>
						</table>
					</form>
				{% endblock %}<!-- main_content -->
				{% block footer %}
				{{ super() }}
				{% endblock %}
			</div><!-- div1 -->
			{% block scripts %}
			{{ super() }}
			{% endblock %}

		</body>
	</html>
