{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_header %}
    {{ super() }}
    {% endblock %}
    <title> Add Promo </title>
</head>
<body>
<div id="div1">
    {% block body_header %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block menu_content %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block main_content %}
    <div id="main_content">

        <h1>Welcome</h1>
        <h2>Featured Books</h2>

        {% for jj in data %}
        <a class="book" href="{{ url_for('bookshow', book_num=jj.bookID) }}">
            <img src="{{ url_for('static', filename=jj.cover) }}"/>
            <span>{{ jj.title }}</span>
            <span>{{ jj.author }}</span>
            <span>{{ jj.sellingPrice }} </span>
            <span>ISBN: {{ jj.ISBN }}</span>
        </a>
        {% endfor %}

    </div>
    {% endblock %}<!-- main_content -->
    {% block footer %}
    {{ super() }}
    {% endblock %}
</div><!-- div1 -->
{% block scripts %}
{{ super() }}
{% endblock %}

</body>
</html>
