{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_header %}
    {{ super() }}
    {% endblock %}
    <title> Add Promo </title>
</head>
<body>
<div id="div1">
    {% block body_header %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block menu_content %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block flash %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block main_content %}

    <div class="container">
        <form action="remove_from_cart_action" method="post">
            <table class="table">
                <tr>
                    <th>Select</th>
                    <th>Book</th>
                    <th>Quantity</th>
                    <th>Unit Price (USD)</th>
                    <th>Item total (USD)</th>
                </tr>
                <!-- Your for loop starts here -->
                {% for jj in data %}
                <tr>
                    <td class="col-1">
                        <input class="form-check-input" type="checkbox" name="{{ jj.bookID }}">
                    </td>
                    <td class="col-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ jj.title }}</h5>
                                <p class="card-text">Author : {{ jj.author }}</p>
                                <p class="card-text">ISBN : {{ jj.bookID }}</p>
                                <p class="card-text">Category : {{ jj.cats }}</p>
                            </div>
                        </div>
                    </td>
                    <td class="display-4 col-3">{{ jj.quantity }}</td>
                    <td class="display-4 col-3">{{ jj.sellingPrice }}</td>
                    <td class="display-4 col-3">{{ jj.quantity * jj.sellingPrice }}</td>
                </tr>
                {% endfor %}
                <!-- your for loop ends here -->
                <tr>
                    <td class="display-4 col-3"></td>
                    <td class="display-4 col-3"><input type="submit" class="btn btn-primary btn-block" role="button"
                                                       value="Remove Selected Items"/></td>
                    <td class="display-4 col-3"><a class="btn btn-primary btn-block" href=" {{ url_for('cart')}} "
                                                   role="button">Cancel Modification</a></td>
                    <td class="display-4 col-3"></td>
                </tr>
            </table>
        </form>
    </div>

    {% endblock %}<!-- main_content -->
    {% block footer %}
    {{ super() }}
    {% endblock %}
</div><!-- div1 -->
{% block scripts %}
{{ super() }}
{% endblock %}

</body>
</html>
