{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head_header %}
    {{ super() }}
    {% endblock %}
    <title> Add Promo </title>
</head>
<body>
<div id="div1">
    {% block body_header %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block menu_content %}
    {{ super() }}
    {% endblock %}<!-- container -->

    {% block flash %}
    {{ super() }}
    {% endblock %}

    {% block main_content %}
    <div id="main_content">
        <div class="promomanager">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Promo Code</th>
                    <th>Reduction Rate (%)</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Activity</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>NEW20</th>
                    <th>20</th>
                    <th>01-01-2020</th>
                    <th>01-01-2021</th>
                    <td>
                        <button type="button" class="btn btn-primary">Send</button>
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <th>INDEPENDENCE50</th>
                    <th>50</th>
                    <th>06-01-2020</th>
                    <th>06-01-2020</th>
                    <td>
                        <button type="button" class="btn btn-primary">Send</button>
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg">Add new Promo</button>
        </div>
    </div>
    {% endblock %}<!-- main_content -->
    {% block footer %}
    {{ super() }}
    {% endblock %}
</div><!-- div1 -->
{% block scripts %}
{{ super() }}
{% endblock %}

</body>
</html>
