<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Team3 Bookstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css" />
    <script type="text/javascript">
        window.onload = initiate;
        function initiate() {
        //var search_query=document.getElementById('search_query');
        var menu_closed=true;
        var menu_content=document.getElementById('menu_content');
        var mobile_button=document.getElementById('mobile_button');
        mobile_button.onclick=function(){
        if(menu_closed) {
        menu_closed=false;
        menu_content.style.display='block';
        menu_content.style.height='70%';
        } else {
        menu_content.style.display='none';
        menu_content.style.height='0%';
        menu_closed=true;
        }
        };
        };
    </script>
</head>
<body>
    <div id="div1">
        <header class="container-fluid">

            <div>
                <a href="#" id="logo"><img src="images/icons/books-icon.png" alt="team3" /> Team#3 BookStore</a>
            </div>
            <div>
                <form><input type="search" name="search_query" id="search_query" value="Search ..." onclick="this.value='';" /></form>
            </div>

        </header><!-- container -->
        <div id="menu">
            <ul id="menu_content">
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">Categories</a><ul>
                        <li><a href="#">Classic</a></li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Technology</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Browse</a>
                </li>
                <li>
                    <a href="#">Help</a><ul>
                        <li><a href="#">Support Request</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Advanced Search</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>

            <div id="mobile_button">
                <img src="images/menu.png" />
            </div>
            <div id="user_controls">
                <ul>
                    <li><a href="#"><img src="images/cart.png" />MY CART</a></li>
                    <li><a href="#"><img src="images/signin.png" />SING IN</a></li>
                    <li><a href="#"><img src="images/signup.png" />SIGN UP</a></li>
                </ul>
            </div>
        </div>
        <div id="main_content">
            <div class="viewProf">
                <div class="head">
                    <div class="item">
                        <img src="images/icons/portrait_icon.png" id="profileImg" alt="profile image" width="150px" length="150px">
                        <a href="#">Add Picture</a>
                    </div>
                </div>
                <form>
                    <div class="centerFormat">
                        <h2>Register User</h2>
                <table>
                    <div class="centerFormat">
                    <tr>
                        <td>
                            First Name
                        </td>
                        <td>
                            <input type="text" name="" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Name
                        </td>
                        <td>
                            <input type="text" name="" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            <input type="Password" name="" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gender
                        </td>
                        <td>
                            <input type="radio" name="Gender" required />Male
                            <input type="radio" name="Gender" required />Female
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email ID
                        </td>
                        <td>
                            <input type="mail" name="" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Phone Number
                        </td>
                        <td>
                            <select>
                                <option>+1</option>
                                <option>+91</option>
                                <option>+67</option>
                                <option>+4</option>
                            </select>
                            <input type="Phone" name="" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address line 1
                        </td>
                        <td>
                            <input type="Address" name="" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address line 2
                        </td>
                        <td>
                            <input type="Address" name="" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Zip Code
                        </td>
                        <td>
                            <select>
                                <option>GA</option>
                                <option>CO</option>
                                <option>AK</option>
                                <option>WA</option>
                            </select>
                            <input type="Zip" name="" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Country
                        </td>
                        <td>
                            <select>
                                <option>USA</option>
                                <option>IND</option>
                                <option>PAK</option>
                                <option>UK</option>
                            </select>
                            <input type="Country" name="" required />
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            Credit Card Number
                        </td>
                        <td>
                            <input type="Number" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Expiry Date
                        </td>
                        <td>
                            <input type="Date" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3 Digit Code
                        </td>
                        <td>
                            <input type="Number" required />
                        </td>
                    </tr>                      
                        <td>
                            <br>
                            <input type="Submit" name="" required />
                        </td>
                    </tr>
                </div>
                </table>
            </div>
            </form>
        </div>
    </div>
</body>
</html>
